@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-space), ui-monospace, sans-serif !important;
  margin: 0;
}

header {
  max-width: 100%;
  height: 50px;
}

section {
  max-width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.8125rem;  
}

h3 {
  font-size: 1.875rem;
}

@media (max-width: 1024px) {
  section {
    /* On divise les marges par 2 pour gagner de la place */
    margin-top: 100px;
    margin-bottom: 100px;
  }

  h1 {
    font-size: 3.75rem; /* Réduction pour éviter que le titre prenne 3 lignes */
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.625rem;
  }
}

@media (max-width: 768px) {
  section {
    /* Marges très réduites pour le mobile */
    margin-top: 60px;
    margin-bottom: 60px;
    
    /* IMPORTANT : Ajout de padding sur les côtés pour que le texte 
       ne colle pas aux bords de l'écran du téléphone */
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    font-size: 2.1875rem; /* Taille standard pour un gros titre mobile */
    line-height: 1.1; /* Resserre un peu l'interligne */
  }

  h2 {
    font-size: 1.375rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  p {
    font-size : .9375rem
  }
}
input {
  border: solid 2px var(--foreground);
}

input {
  height: 25px !important;
}

textarea {
  height: 0px;
}

.form-style {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#titleFadeIn {
  animation: fadeIn 2s ease-in;
}