@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  max-width: 100%;
  height: 50px;
}

section {
  max-width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
}

@media (max-width: 1024px) {
  section {
    /* On divise les marges par 2 pour gagner de la place */
    margin-top: 100px;
    margin-bottom: 100px;
  }

  h1 {
    font-size: 60px; /* Réduction pour éviter que le titre prenne 3 lignes */
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  section {
    /* Marges très réduites pour le mobile */
    margin-top: 60px;
    margin-bottom: 60px;
    
    /* IMPORTANT : Ajout de padding sur les côtés pour que le texte 
       ne colle pas aux bords de l'écran du téléphone */
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    font-size: 35px; /* Taille standard pour un gros titre mobile */
    line-height: 1.1; /* Resserre un peu l'interligne */
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size : 15px
  }
}
input {
  border: solid 2px var(--foreground);
}

input {
  height: 25px !important;
}

textarea {
  height: 0px;
}

.form-style {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#titleFadeIn {
  animation: fadeIn 2s ease-in;
}