@import "tailwindcss";
@import "@heroui/styles";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-1: linear-gradient(135deg, #c084fc 0%, #a78bfa 50%, #67e8f9 100%);
  --gradient-2: linear-gradient(135deg, #67e8f9 0%, #a78bfa 50%, #fbbf24 100%);
  --gradient-3: linear-gradient(135deg, #86efac 0%, #67e8f9 100%);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  width: 100%;
}

h1, h2, h3 {
  font-family: var(--font-space), ui-monospace, sans-serif !important;
  margin: 0;
}

header {
  max-width: 100%;
  height: 50px;
}

section {
  max-width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.8125rem;  
}

h3 {
  font-size: 1.875rem;
}

@media (max-width: 1024px) {
  section {
    /* On divise les marges par 2 pour gagner de la place */
    margin-top: 100px;
    margin-bottom: 100px;
  }

  h1 {
    font-size: 3.75rem; /* Réduction pour éviter que le titre prenne 3 lignes */
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.625rem;
  }
}

@media (max-width: 768px) {
  section {
    /* Marges très réduites pour le mobile */
    margin-top: 60px;
    margin-bottom: 60px;
    
    /* IMPORTANT : Ajout de padding sur les côtés pour que le texte 
       ne colle pas aux bords de l'écran du téléphone */
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    font-size: 2.1875rem; /* Taille standard pour un gros titre mobile */
    line-height: 1.1; /* Resserre un peu l'interligne */
  }

  h2 {
    font-size: 1.375rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  p {
    font-size : .9375rem
  }
}

.form-style {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.text-neon-pink {
  background: linear-gradient(90deg, #ff00de 0%, #00f6ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-neon-blue {
  color: #6abfff;

}

.text-neon-green {
  color: #6aff95;

}

.text-neon-yellow {
  color: #fff86a;

}

.text-neon-purple {
  color: #c76aff;

}

.text-neon-orange {
  color: #ff9b6a;

}

.cursor-blink {
  animation: blink 1s step-end infinite;
}

.gradient-0 {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-1 {
  background: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

