@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  max-width: 100%;
  height: 50px;
}

section {
  max-width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
}

h1 {
  font-size: 80px;

}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#titleFadeIn {
  animation: fadeIn 2s ease-in;
}